---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


/********** grid styles **********/

section {
  margin: auto;
  width: 960px;
}

.intro {
  width: 620px;
}
.third {
  width: 305px;
}

.third-img {
  width: 292px;
}
.half {
  width: 460px;
}
.half-img {
  width: 449px;
}

.project-grid {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.overflow--auto {
  overflow: auto;
}

.flexbox {
  @include display(flex);
  @include justify-content(space-between);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

/********** color styles **********/

.orange {
  color: $orange;
}

.aqua {
  background-color: $aqua;
}

.gray {
  background-color: $footer-gray;
}

.background-orange {
  background-color: $orange;
}



/********** spacing styles **********/

.content {
  background-color: #fff;
  padding-top: 170px;
  padding-bottom: 170px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.margin-image {
  margin-bottom: 20px;
}

.margin-image-ends {
  margin-top: 20px;
  margin-bottom:20px;
}

.flush--bottom {
  margin-bottom: 0;
}

.flush--top {
  margin-top: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

img {
  display: block;
}

/********** divider styles **********/

.divider {
    height: 3px;
    width: 55px;
}

.divider-right {
  margin-left: auto;
}

.divider-white {
  background-color: #fff;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

.divider-content {
  margin-top: 45px;
  margin-bottom: 45px;
}

.divider-hero {
  margin: 85px auto 50px auto;
}

.divider-footer {
    background: tint($footer-gray, 40%);
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 55px;
}

/********** nav styles **********/



.nav--container {
  @include align-items(center);
  background-color: #fff;
  border-bottom: 1px solid $light-border-gray;
  box-shadow: 0 1px 10px rgba(0,0,0,0.05);
  @include display(flex);
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
}

.logo--header {
  @include flex(1);
  @include align-self(flex-start);
}

.header__navigation {
  @include align-items(center);
  background: #ffffff;
  @include display(flex);
  @include justify-content(space-between);
  padding: 0.9em 0;
}

.header__navigation__list {
  background: #ffffff;
  @include display(flex);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.header__navigation__list li:last-child a {
  padding-right: 0;
}

.header__navigation__list li {
  @include align-items(center);
  @include display(flex);
}

.header__navigation__list a {
  color: $light-gray;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.header__navigation__list__item:hover {
  color: $orange;
  transition: color 0.2s linear;
}

.mobile-menu {
  display: none;
}

/********** hero styles **********/

.homepage-hero {
  @include align-items(center);
  background: $orange;
  background: url("/img/room.png");
  background-size: cover;
  background-position: center;
  @include display(flex);
  height:100vh;
  @include justify-content(center);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.hero-graphic--container {
  @include display(flex);
  @include flex-direction(column);
  min-height: 469px;
}

.logo--hero {
  display: block;
  margin: auto;
}

.hero-first {
    left: 3px;
    position: absolute;
    top: 110px;
}

.hero-second {
  bottom: -20px;
  position: absolute;
  right: 0;
}

.hero-graphic {
  position: relative;
  width: 650px;
}


/********** homepage nav styles **********/

.homepage .nav--container {
  display: none;
  z-index: 5;
}

/********** homepage project styles **********/

#work {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  margin-top: 70px;
}

.scroll-container {
  position: absolute;
  margin-top:100vh;
  width: 100%;
  z-index:2;
}

.project {
  background-color: $aqua;
  @include display(flex);
  height: 305px;
  margin-right: 0;
  margin-bottom: 24px;
  max-width: 305px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.post-items:nth-last-child(-n+3) .project{
    margin-bottom: 0;
}

.project:hover {
    overflow: hidden;
}

.project-info {
  @include align-items(center);
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);
  @include justify-content(center);
  opacity: 0;
  position: relative;
  transition: opacity 0.3s;
  z-index: 1;
}

.project:hover .project-info {
  opacity: 1;
  transition: opacity 0.3s;
}

.project .home-page-thumbnail {
  height: 305px;
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s, transform 0.3s;
  z-index: -1;
}

.project:hover .home-page-thumbnail {
  opacity: 0.085;
  transition: opacity 0.3s;
  -webkit-transform:scale(1.03); /********** Safari and Chrome **********/
  -moz-transform:scale(1.03); /********** Firefox **********/
  -ms-transform:scale(1.03); /********** IE 9 **********/
  -o-transform:scale(1.03); /********** Opera **********/
   transform:scale(1.03);
   transition: transform 0.3s;
}


/********** footer styles **********/

.site-footer {
  background-color: $background-gray;
  padding: 70px 0;
  position: relative;
  z-index: 2;
}

.footer-content {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
}

.footer-seal {
  @include display(flex);
  @include justify-content(center);
  max-height: 90px;
  margin: auto;
  max-width:90px;
  transition: transform 0s;
}

.footer-seal:hover {
  transform: rotate(720deg);
  transition:transform 0.7s ease;
}

.footer-seal .seal {
  transition: fill 0.2s ease-out;
}
.footer-seal:hover .seal {
  fill: $orange;
}

.wide-text {
  letter-spacing: 3px;
}

/********** post styles **********/


.post-intro {
  @include display(flex);
  @include justify-content(space-between);
  margin-top: 50px ;
}

.project-content {
  margin-top: 100px;
}

.half-text {
  padding-right: 50px;
}

.border {
  border: 1px $border-gray solid;
  padding: 20px;
  margin-bottom: 1em;
}


/********** arrow navigation styles **********/

.arrow--container {
  @include align-items(center);
  @include display(flex);
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: 4;
}

.arrow {
  @include align-items(center);
  padding: 20px 30px;
  @include display(flex);
  @include justify-content(space-between);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow:hover {
  background-color: $orange;
}

.arrow:hover .hover-title-arrow {
  display: inline;
}

.hover-title {
  color: #fff;
  display: inline;
}

.hover-title-left {
  padding-right: 30px;
  margin-left: -92px;
  transition: margin .5s;
}

.arrow:hover .hover-title-left {
  margin: 0;
  transition: margin .5s;
}

.hover-title-right {
  padding-left: 30px;
  margin-right: -61px;
  transition: margin .5s;
}

.arrow:hover .hover-title-right {
  margin: 0;
  transition: margin .5s;
}

.arrow:hover .st00 {
  fill: #fff;
}

/********** about page styles **********/

.about-text {
  margin-bottom: 12px;
  padding-right: 100px;
}

.about-image {
  background-image: url(/img/about.jpg);
  background-position: center;
  background-size: cover;
  height: 305px;
}

.about-flex {
  @include display(flex);
}
/**********  media queries width 1180 **********/

@media (max-width: 1180px) {
  section {
    width: 800px;
  }

  .project-content {
    margin-top: 90px;
  }

  .third {
    width: 251px;
  }

  .project {
    background-color: $aqua;
    height: 251px;
    max-width: 251px;
  }

  .project .home-page-thumbnail {
    height: 251px;
  }

  .intro {
    width: 540px;
  }

  .intro-text {
    width: 500px;
  }

  .divider-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .half-img {
    width: 368px;
  }
  .third-img {
    width: 240px;
  }

}

/**********  media queries width 1000 **********/

@media (max-width: 1000px) {


  .logo--hero {
    width: 66%;
  }

  .hero-first {
    left: 22px;
    top: 98px;
  }
  .hero-second {
    bottom: -17px;
    right: 11px;
  }

  .divider-hero {
      margin: 65px auto 50px auto;
  }

  .project-content {
    margin-top: 80px;
  }

  section {
    width: 634px;
  }
  .intro {
    margin-bottom: 40px;
  }
  .content {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .arrow {
    padding: 20px 15px;
  }

  .half-img {
    width: 292px;
  }

  .third-img {
    width: 292px;
  }

  .third {
    width: 305px;
  }

  .project {
    background-color: $aqua;
    height: 305px;
    max-width: 305px;
  }

  .project .home-page-thumbnail {
    height: 305px;
  }

  .intro-text {
    width: 540px;
  }

  .border {
    padding: 15px;
  }

}

/**********  media queries width 785 **********/

@media (max-width: 785px) {
  .arrow--container {
    display: none;
  }

  .project-content {
    margin-top: 70px;
  }
}

/**********  media queries width 770 **********/

@media (max-width: 770px) {

  .hero-graphic {
    @include align-items(center);
    @include justify-content(space-between);

  }

  .logo--hero {
    margin-bottom: 50px;
  }

  .hero-first {
    display: block;
    left: 0;
    position: static;
    text-align: center;
    top: 0;

  }

  .hero-second {
    display: block;
    bottom: 0;
    margin: auto;
    right: 0;
    position: static;
    text-align: center;
  }
}

/**********  media queries width 710 **********/

@media (max-width: 710px) {

  .about-text {
    padding-right: 0;
  }

  .project-content {
    margin-top: 60px;
  }

  section {
    width: 500px;
  }
  .intro-text {
    width: 525px;
  }

  .third {
    width: 238px;
  }

  .half-img {
    width: 238px;
  }

  .third-img {
    width: 227px;
  }

  .project {
    background-color: $aqua;
    height: 238px;
    max-width: 238px;
  }

  .project .home-page-thumbnail {
    height: 238px;
  }

  .intro-text-first {
    margin-bottom: 40px;
  }

  .content {
    padding-top: 160px;
    padding-bottom: 110px;
  }
  .post-items:nth-last-child(-n+3) .project{
      margin-bottom: 24px;
  }

  .border {
    margin-bottom: .5em;
  }

  .margin-image {
    margin-bottom: 15px;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }

  .post-intro {
    @include flex-direction(column);
    margin-top: 50px ;
  }

  .half {
    width: 100%;
  }

  .about-flex {
    @include flex-direction(column-reverse);
  }

  .about-image {
    height: 400px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 400px;
  }

}


/**********  media queries width 667 **********/
@media (max-width: 667px) {

}

/**********  media queries width 650 **********/

@media (max-width: 650px) {
  .hero-graphic {
    width: 100%;
  }

  .mobile-menu {
    display: block;
    padding: 1em 0;
  }

  .desktop-menu {
    display: none;
  }

  .menu-toggle {
    // @include align-items(flex-end);
    background-color: #fff;
    // @include display(flex);
    // @include flex-direction(column);
  }

  .header__navigation {
    @include align-items(baseline);
  }

  .header__navigation__list a {
    padding: 1em 0;
  }

  .header__navigation__list li {
    display: block;
    text-align: right;
  }

  .mobile-menu {
    margin-top: 6px;
  }

}

/**********  media queries width 598 **********/

@media (max-width: 590px) {

  .half-text {
    width: 305px;
  }

  .logo--hero {
    width: 55%;
  }

  .divider-hero {
    margin: 55px auto 45px auto;
  }

  .project-content {
    margin-top: 60px;
  }

  .flexbox {
    @include flex-direction(column);
  }

  .margin-image-mobile {
    margin-bottom: 15px;
  }

  section {
    width: 305px;
  }

  .intro-text {
    width: 305px;
  }

  .third {
    width: 305px;
  }

  .project {
    background-color: $aqua;
    height: 305px;
    max-width: 305px;
  }

  .project .home-page-thumbnail {
    height: 305px;
  }

  .pepper-stamp {
    width:70px;
    height: 70px;
  }

  .about-text {
    padding-right: 0;
    width: 305px;
  }

  .about-image {
    width: 305px;
    height: 305px;
  }

  .half-img {
    width: 272px;
  }

  .third-img {
    width: 272px;
  }
}

/**********  media queries width 500 **********/

@media (max-width: 500px) {

  .logo--hero {
    width: 73%;
    margin-bottom: 33px;
  }

  .divider-hero {
    margin: 35px auto 25px auto;
  }

  .hero-graphic--container {
    @include justify-content(center);
  }

  .hero-first {
    font-size: 0.75em;
    margin-bottom: 10px;
  }

  .hero-second {
    font-size: 0.8em;
  }

}
