<footer class="site-footer">

<section>
    <third>
      <p class="nugget nugget-small footer-gray"> Established 2015 </p>
      <div class="divider-footer gray"></div>
      <p class="italic-footer">San Francisco, California</p>
    </third>
    <third>
      <img src="img/pepper.svg" class="footer-seal">
    </third>
    <third>
      <p class="nugget nugget-small footer-gray align-right">Internet things</p>
      <div class="divider-footer divider-right gray"></div>
      <p class="nugget-small footer-gray align-right wide-text">
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-medium"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-instagram"></i></p>
    </third>
</section>

</footer>
