<footer class="site-footer text-footer-gray">

<section>
    <third>
      <p class="nugget nugget-small"> Established 2015 </p>
      <div class="divider-footer gray"></div>
      <p class="italic-footer">San Francisco, California</p>
    </third>
    <third>
      <img src="/img/pepper.svg" class="footer-seal">
    </third>
    <third>
      <p class="nugget nugget-small align-right">Internet things</p>
      <div class="divider-footer divider-right gray"></div>
      <p class="nugget-small align-right wide-text">
        <a href="dribbble.com/julesforrest" class="text-footer-gray"><i class="fa fa-dribbble"></i></a>
        <a href="github.com/julesforrest" class="text-footer-gray"><i class="fa fa-github"></i></a>
        <a href="medium.com/julesforrest" class="text-footer-gray"><i class="fa fa-medium"></i></a>
        <a href="twitter.com/jules_forrest" class="text-footer-gray"><i class="fa fa-twitter"></i></a>
        <a href="linkedin.com/julesforrest" class="text-footer-gray"><i class="fa fa-linkedin"></i></a>
        <a href="instagram.com/julesforrest" class="text-footer-gray"><i class="fa fa-instagram"></i></p></a>
    </third>
</section>

</footer>
