<div class="nav--container">
  <section>
    <div class="header__navigation">
      <a href="/" class="logo--header" title="Fresh Pepper | Jules Forrest">
        <img src="/img/logo-red.svg">
      </a>
      <ul class="header__navigation__list">
        <li><a href="/#work"><span class="header__navigation__list__item nugget">Projects</span></a></li>
        <li><a href="/about"><span class="header__navigation__list__item nugget">About</span></a></li>
        <li><a href="http://www.dribbble.com/julesforrest"><span class="header__navigation__list__item nugget">Dribbble</span></a></li>
        <li><a href="http://www.medium.com/@julesforrest"><span class="header__navigation__list__item nugget">Writing</span></a></li>
      </ul>
    </div>
  </section>
</div>
