<div class="nav--container">
  <section>
    <div class="header__navigation">
      <a href="/" class="logo--header" title="Fresh Pepper | Jules Forrest">
        <img src="/img/logo-red.svg">
      </a>
      <div class="menu-toggle">
        <ul class="header__navigation__list mobile-menu">
          <li><span class="header__navigation__list__item nugget text-light-gray flush--bottom">Menu</span></li>
        </ul>
        <ul class="header__navigation__list desktop-menu desktop-menu-hide">
          <li><a href="/#work"><span class="header__navigation__list__item nugget mobile-menu-items">Projects</span></a></li>
          <li><a href="/about"><span class="header__navigation__list__item nugget mobile-menu-items">About</span></a></li>
          <li><a href="http://www.dribbble.com/julesforrest"><span class="header__navigation__list__item nugget mobile-menu-items">Dribbble</span></a></li>
          <li><a href="http://www.medium.com/@julesforrest"><span class="header__navigation__list__item nugget mobile-menu-items">Writing</span></a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
