<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage">

    {% include header.html %}

    <div class="homepage-hero hero-background">
      <div class="hero-graphic--container">
        <div class="hero-graphic animated fadeInDown">
          <div class="nugget nugget-small text-white hero-first">Welcome to</div>
          <img src="img/logo.svg" class="logo--hero">
          <div class="nugget text-white hero-second">A design portfolio</div>
        </div>
        <div class="hero-byline animated fadeInUp">
          <div class="divider divider-white divider-hero"></div>
          <div class="byline text-white">By Jules Forrest</div>
        </div>
      </div>
    </div>
    <div class="scroll-container">
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </div>
</body>

</html>
