---
layout: default
---
{% if page.next.url %}
  <div class="arrow--container left">
    <a href="{{ page.next.url }}">
      <div class="arrow">
        <div class="hover-title hover-title-left">Previous</div>
        <div class="arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="20.4px" height="13.2px" viewBox="-389 294.8 20.4 13.2" xml:space="preserve"><style type="text/css">
        	.st00{fill:#84CFCA;}
          </style><polygon class="st00" points="-382.9 308 -382.2 307.4 -387.2 301.9 -368.6 301.9 -368.6 300.9 -387.2 300.9 -382.2 295.5 -382.9 294.8 -389 301.4 "/></svg>
        </div>
      </div>
    </a>
  </div>
{% endif %}

{% if page.previous.url %}
  <div class="arrow--container right">
    <a class="hover-title-arrow" href="{{ page.previous.url }}">
      <div class="arrow">
        <div class="arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="20.4px" height="13.2px" viewBox="-389 294.8 20.4 13.2" xml:space="preserve"><style type="text/css">
          	.st00{fill:#84CFCA;}
          </style><polygon class="st00" points="-374.7 294.8 -375.4 295.5 -370.4 300.9 -389 300.9 -389 301.9 -370.4 301.9 -375.4 307.4 -374.7 308 -368.6 301.4 "/></svg>
        </div>
        <div class="hover-title hover-title-right">Next</div>
      </div>
    </a>
  </div>
{% endif %}

<div class="content">
  <section>
    <h1 class="post-title text-dark-gray flush--top header-margin-shrink">{{ page.title }}</h1>
    <div class="post-meta nugget text-aqua nugget-small">{{ page.categories | join: ', ' }}</div>
    <div class="post-intro">
      <div class="half half-text intro-text-first">
        <h2 class="text-dark-gray">{{ page.brieftitle }}</h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.brief }}
      </div>
      <div class="half half-text">
        <h2 class="text-dark-gray"> {{ page.highlightstitle }}</h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.highlights }}
      </div>
    </div>
  </section>
  <section>
    <div class="project-content">
      {{ content }}
    </div>
  </section>
</div>
