---
layout: default
---
{% if page.next.url %}
  <div class="arrow--container left">
    <a href="{{ page.next.url }}">
      <div class="arrow">
        <div class="hover-title hover-title-left">Previous</div>
        <div class="arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="20.4px" height="13.6px" viewBox="-589 594.8 20.4 13.6" xml:space="preserve" enable-background="new -589 594.8 20.4 13.6"><style type="text/css">
          	.st00{fill:#FD6B58;}
          </style><polygon class="st00" points="-568.6 600.8 -586 600.8 -581.5 596 -582.7 594.8 -589 601.6 -582.7 608.4 -581.5 607.4 -586 602.5 -568.6 602.5 "/></svg>
        </div>
      </div>
    </a>
  </div>
{% endif %}

{% if page.previous.url %}
  <div class="arrow--container right">
    <a class="hover-title-arrow" href="{{ page.previous.url }}">
      <div class="arrow">
        <div class="arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="20.4px" height="13.6px" viewBox="-589 594.8 20.4 13.6" xml:space="preserve" enable-background="new -589 594.8 20.4 13.6"><style type="text/css">
          	.st00{fill:#FD6B58;}
          </style><polygon class="st00" points="-589 602.4 -571.6 602.4 -576.1 607.3 -574.9 608.4 -568.6 601.6 -574.9 594.8 -576.1 595.8 -571.6 600.8 -589 600.8 "/></svg>
        </div>
        <div class="hover-title hover-title-right">Next</div>
      </div>
    </a>
  </div>
{% endif %}

<div class="content">
  <section>
    <h1 class="post-title text-dark-gray flush--top header-margin-shrink">{{ page.title }}</h1>
    <div class="post-meta nugget text-aqua nugget-small">{{ page.categories | join: ', ' }}</div>
    <div class="post-intro">
      <div class="half half-text intro-text-first">
        <h2 class="text-dark-gray">{{ page.brieftitle }}</h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.brief }}
      </div>
      <div class="half half-text">
        <h2 class="text-dark-gray"> {{ page.highlightstitle }}</h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.highlights }}
      </div>
    </div>
  </section>
  <section>
    <div class="project-content">
      {{ content }}
    </div>
    <div class="post-navigation flush--bottom">
      {% if page.next.url %}
        <a class="flush--bottom" href="{{ page.next.url }}">
          <div class="nugget nugget-footer text-light-gray flush--bottom" href="{{ page.next.url }}">Previous</div>
          <h4 class="orange"> {{ page.next.title }}</h3>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="align-right flush--bottom" href="{{ page.previous.url }}">
          <div class="nugget nugget-footer text-light-gray flush--bottom">Next</div>
          <h4 class="orange"> {{ page.previous.title }}</h3>
        </a>
      {% endif %}
  </div>

  </section>
</div>
