---
layout: default
---
<div class="content">
  <section>
    <h1 class="post-title text-dark-gray flush--top header-margin-shrink">{{ page.title }}</h1>
    <div class="post-meta nugget text-aqua nugget-small">{{ page.categories | join: ', ' }}</div>
    <div class="post-intro">
      <div class="half half-text">
        <h2 class="text-dark-gray">Project brief</h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.brief }}
      </div>
      <div class="half half-text">
        <h2 class="text-dark-gray">Highlights </h2>
        <div class="divider divider-content background-orange"></div>
        {{ page.highlights }}
      </div>
    </div>
  </section>
  <section>
    <div class="project-content">
      {{ content }}
    </div>
  </section>
</div>
