body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

.homepage-intro {
  font-size: 2em;
}

.header-margin-shrink {
  margin-bottom: 15px;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
}

p {
  color: text-medium-gray;
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: $orange;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.nugget {
  font-family: $nugget-font-family;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nugget-small {
  font-size: 0.833em;
}

.byline {
  font-family: $heading-font-family;
  font-size: 1.5em;
  font-style: italic;
  margin-top:45px;
  text-align: center;
}

.intro-text {
  font-size: 20px;
  line-height: 32px;
  width: 550px;
}

.italic-footer {
  font-family: $heading-font-family;
  font-weight: 500;
  font-style: italic;
}

.align-right {
  text-align: right;
}

.post-title {
  font-size: 3.5em;
}

/* Text colors */

.text-dark-gray {
  color: $dark-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-footer-gray {
  color: $footer-gray;
}

.text-aqua {
  color: $aqua;
}

.text-orange {
  color: $orange;
}

.text-white {
  color: #fff;
}
