body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

.homepage-intro {
  font-size: 2.35em;
}

.header-margin-shrink {
  margin-bottom: 15px;
}

h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
}

p {
  color: text-medium-gray;
  margin: 0 0 $small-spacing;
}

a {
  color: darken( $aqua, 10% );
  text-decoration: none;
  transition: color 0.2s linear;

  &:active,
  &:focus,
  &:hover {
    color: $orange;
    transition: color 0.2s linear;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
li a:hover {
  transition: color 0.2s linear;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}



/********** text color styles **********/

.text-dark-gray {
  color: $dark-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-footer-gray {
  color: $footer-gray;
}

.text-aqua {
  color: $aqua;
}

.text-orange {
  color: $orange;
}

.text-white {
  color: #fff;
}

/********** alignment styles **********/

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/********** nugget styles **********/

.nugget {
  font-family: $nugget-font-family;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.nugget-small {
  font-size: 0.833em;
}

.nugget-footer {
  font-size: 0.75em;
  line-height: 20px;
}

/********** hero styles **********/

.byline {
  font-family: $heading-font-family;
  font-size: 1.7em;
  font-style: italic;
  text-align: center;
}

.intro-text {
  font-size: 20px;
  line-height: 32px;
  width: 550px;
}

/********** footer styles **********/


.italic-footer {
  font-family: $heading-font-family;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
}
/********** post styles **********/

.post-title {
  font-size: 3.1em;
}


/********** project card styles **********/

.homepage-title-hover {
  margin: 0 auto 30px auto;
  width: 200px;
  text-align: center;
}

.homepage-tags-hover {
  margin: 30px auto 0 auto;
  width: 220px;
  text-align: center;
  text-transform: capitalize;
}

/********** caption styles **********/

.caption {
  font-color: $medium-gray;
  font-family: $nugget-font-family;
  font-size: 0.9em;
  line-height: 22px;
  margin-top: 15px;
}

/********** colophon styles **********/

.colophon {
  color: $footer-gray;
  font-family: $nugget-font-family;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

/********** media queries **********/
@media (max-width: 598px) {

  .byline {
    font-size: 1.5em;
  }

  .post-title {
    font-size: 2.5em;
  }

  .intro-text {
    width: 305px;
  }

  .nugget-footer {
    font-size: 0.65em;
    line-height: 16px;
  }

  .italic-footer {
    font-size: 0.8em;
    line-height: 18px;
  }

  .social-links {
    width: 85px;
    right: 0;
    margin-left: 18px;
  }

  h4 {
    font-size: 0.95em;
    padding-top: 5px;
  }

}

@media (max-width: 500px) {

  .byline {
    font-size: 1.3em;
  }

}
